.text {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 255, 0.377);
  border-radius: 10%;
  box-shadow: 5px 5px 15px 5px #000000;
}
li {
  list-style-type: none;
  padding: 1rem;
  background-color: rgba(127, 255, 212, 0.788);
  border-bottom: 1px solid blue;
  border-radius: 20%;
}
